<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %}</title>

    {% block stylesheets %}
        {% stylesheets
        'css/bootstrap.css'
        'css/main.css'
        filter='cssrewrite' output='css/compiler/app.css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body>
<div class="container core">
    <div class="row">
        {% include '@App/Partials/navbar.html.twig' %}
        {% block body %}
        {% endblock %}
        {% include '@App/Partials/footer.html.twig' %}
    </div>
</div>


{% block javascripts %}
    {% javascripts
    'js/jquery-3.1.1.min.js'
    'js/bootstrap.js'
    output="js/compiled/app.js" %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
