{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Magasin{% endblock %}

{% block filter %}
    {% include '@App/Partials/filter.html.twig'  %}
{% endblock %}

{% block body %}



    {% for product in products %}
        <div class="col-xs-4">
        <label>{{ product.name}}</label>
        <label>{{ product.priceHt }}€</label>
        <img src="web/images/products/{{ product.image }}.jpg">
        </div>
    {% endfor %}
{% endblock %}