<form method="get" action=".">
    {{ form_start(form, {'method': 'GET'}) }}
    Echelle de prix{{ form_widget(form.PriceHt) }}
    {{ form_end(form) }}
    <input type="submit" name="submit-filter" value="Valider"/>
</form>